body
{
max-width: 500px;
background-color: #404040;
color: white;
margin: 0 auto;
}

a{
color: lightblue;
}

blockquote
{
    border: thick solid green;
    padding: 1rem;
}

code
{
    /* font-family: 'Courier New', Courier, monospace; */
    color: orange;
}